<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width,
initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <title>
        {% block title %}
        Мой сайт
        {% endblock %}
    </title>
</head>
<body>
<div class="container-fluid">
    <ul class="nav nav-pills justify-content-end align-items-end">
        <li class="nav-item"><a href="/main/"
                                class="nav-link">Основная</a></li>
        <li class="nav-item"><a href="/data/"
                                class="nav-link">Данные</a></li>
    </ul>
    {% block content %}
    Страница не заполнена
    {% endblock %}
    <div class="row fixed-bottom modal-footer">
        <hr>
        <p>Все права защищены &copy;</p>
    </div>
</div>
<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>